# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# ========================
# Virtual env
# ========================
venv/
.env/
.venv/

# ========================
# Environment variables
# ========================
.env

# ========================
# Logs
# ========================
*.log

# ========================
# Docker
# ========================
docker-compose.override.yml

# ========================
# OS мусор
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Data (ВАЖНО)
# ========================
data/state.json

# ========================
# Misc
# ========================
*.sqlite3